<ng-template #loadingSpinnerContainer></ng-template>
<section class="busca-docmentos">
    <app-container>
        <app-cabecalho-ata
            (cancelar)="cancelar()"
            (acao)="abrirBaixa()"
            (salvar)="salvar()"
            (inativar)="inativar()"
            (novo)="novoItem()"
            (remover)="excluirItem()"
            [status]="status.value">
            
            <app-formulario-ata/>
        </app-cabecalho-ata>
        <mat-tab-group>
            <mat-tab label="Tabela Vigente">
                <app-item-ata-tabela 
                    [listaItens]="listaItens.value" 
                    [control]="selecionado" 
                    (editarItem)="editarItem()"/>
            </mat-tab>

            <!-- NG FOR Número de reajustes A KEY eu preciso que seja composta ID ATA e sequencia-->
            <!-- Quando criado no historico terá a data do dia atual, se nunca criado terá data da ATA-->
            <!-- Pedir confirmação para criar um novo reajuste (Criar a permissão)-->
            <!-- Criar um material tab que será uma table apenas visualização para se ter noção do historico -->
            <mat-tab *ngIf="form.idAta && form.idAta !== 0">
                <ng-template mat-tab-label>
                    <mat-icon>history</mat-icon> Histórico
                </ng-template>
                conteudo 2
            </mat-tab>
        </mat-tab-group>
    </app-container>
</section>