<section class="busca-docmentos">
    <app-container>
        <form>
            <app-cabecalho-ata
                (cancelar)="cancelar()"
                (acao)="abrirBaixa()"
                (salvar)="salvar()"
                (inativar)="inativar()"
                (novo)="novoItem()"
                (remover)="excluirItem()"
                [status]="status.value">
                
                <app-formulario-ata/>
            </app-cabecalho-ata>
            <app-item-ata-tabela [listaItens]="listaItens.value" [control]="selecionado" (editarItem)="editarItem()"/>
        </form>
    </app-container>
</section>