<section class="tabela">
    <div class="container mat-elevation-z8">

        <div class="table-container">

            <table mat-table [dataSource]="lista" class="table">

                <!-- ID-Empenho -->
                <ng-container matColumnDef="empenhoID">
                    <th mat-header-cell *matHeaderCellDef disableClear>
                        Empenho
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.empenhoID}}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <!-- Código Column -->
                <ng-container matColumnDef="codigo">
                    <th mat-header-cell *matHeaderCellDef disableClear>
                        Código
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.id | separadorMilhar}}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <!-- Código Column -->
                <ng-container matColumnDef="numNota">
                    <th mat-header-cell *matHeaderCellDef disableClear>
                        Nº Nota
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.numNota | separadorMilhar}}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <!-- nome Column -->
                <ng-container matColumnDef="empenho">
                    <th mat-header-cell *matHeaderCellDef disableClear>
                        Nº Empenho
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.numEmpenho}}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <!-- unidade Column -->
                <ng-container matColumnDef="unidade">
                    <th mat-header-cell *matHeaderCellDef disableClear>
                        Unidade
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.unidade}}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <!-- Data do empenho Column -->
                <ng-container matColumnDef="dataEmissao">
                    <th mat-header-cell *matHeaderCellDef disableClear class="mat-cell-date">Data de Emissão</th>
                    <td mat-cell *matCellDef="let row" class="mat-cell-date">{{row.dataEmissao | date: 'dd/MM/yyyy' }}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <!-- Data do empenho Column -->
                <ng-container matColumnDef="dataEntrega">
                    <th mat-header-cell *matHeaderCellDef disableClear class="mat-cell-date">Data da Entrega</th>
                    <td mat-cell *matCellDef="let row" class="mat-cell-date">{{row.dataEntrega | date: 'dd/MM/yyyy' }}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <!-- valor total -->
                <ng-container matColumnDef="valorEntregue">
                    <th mat-header-cell *matHeaderCellDef>Total da Nota</th>
                    <td mat-cell *matCellDef="let row"><strong>{{row.valorEntregue | currency:'R$'}}</strong></td>
                    <td mat-footer-cell *matFooterCellDef><strong>{{getTotal() | currency: 'R$'}}</strong></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="clickGrid(row)"
                    (dblclick)="doubleClick()" [ngClass]="selecionar(row)">
                </tr>
                <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
            </table>
        </div>
    </div>
</section>