<section class="homepage page">
    <app-container>
        <div class="botoes-container">
            <div class="wrapper">

                <app-botoes icone="store" texto="Entidades" path="/entidades"/>

                <app-botoes icone="inventory_2" texto="Itens" path="/itens"/>

                <app-botoes icone="search" texto="Buscar Documentos" path="/licitacao/pesquisar"/>

                <app-botoes icone="post_add" texto="Nova Licitação" path="/licitacao"/>

                <app-botoes icone="upload_file" texto="Importar Ata PDF"/>

                <app-botoes icone="manage_accounts" texto="Config. Usuários" path="/usuarios"/>
            </div>
        </div>
    </app-container>
</section>
