<section class="busca-entidades">
    <form [formGroup]="form.formBusca">
        <app-cabecalho-busca-novo 
            (realizarBusca)="buscar()" 
            (limparFiltros)="limpar()"
            (editarCadastro)="editar()"
            (novoCadastro)="criar()"
            (cancelarOperacao)="voltar()"
            (inativarCadastro)="inativar()"
            [status]="selecionado.value?.status"
            [permissaoNovo]="102"
            [permissaoEditar]="103"
            [permissaoInativar]="104"
        >
            <app-form-busca-entidades/>
        </app-cabecalho-busca-novo>

        <app-busca-container [control]="pesquisa">
            <app-entidade-tabela 
                (abrirDialog)="editar()" 
                (pagina)="mudarPagina($event)"
                [listaEntidades]="lista"
                [control]="selecionado"
                [totalItems]="totalItems"
                [isLoadingResults]="isLoadingResults"
                [isRateLimitReached]="isRateLimitReached"
            />
        </app-busca-container>
    </form>

    <ng-template #loadingSpinnerContainer></ng-template>
</section>
