<section class="busca-usuarios">
    <form [formGroup]="form.formBusca">
        <app-cabecalho-busca-novo
            (realizarBusca)="buscar()" 
            (limparFiltros)="limpar()"
            (editarCadastro)="editar()"
            (novoCadastro)="criar()"
            (cancelarOperacao)="voltar()"
            (inativarCadastro)="inativar()"
            [status]="selecionado.value?.status"
        >
            <app-form-busca-usuarios/>
        </app-cabecalho-busca-novo>

        <app-busca-container [control]="pesquisa">
            <app-usuario-tabela 
                (abrirDialog)="editar()" 
                (pagina)="mudarPagina($event)"
                [listaUsuarios]="lista"
                [control]="selecionado"
                [totalItems]="totalItems"
                [isLoadingResults]="isLoadingResults"
                [isRateLimitReached]="isRateLimitReached"
            />
        </app-busca-container>
    </form>
</section>
