<div class="dialog" (keydown.enter)="onEnterPress($event)">
    <h1 mat-dialog-title>Lookup de itens</h1>
    <div mat-dialog-content class="mensagem">
        <app-busca-container [control]="pesquisa" [page]="false">
            <app-item-tabela 
                (abrirDialog)="confirmar()"
                [paginator]="false" 
                [control]="selecionado"
                [displayedColumns]="colunasGrid"
                [listaItens]="listaItens"
                [isLoadingResults]="isLoadingResults"
                [isRateLimitReached]="isRateLimitReached"/>
        </app-busca-container>
    </div>
    <div mat-dialog-actions class="btn-group">
        <button 
            class="Cancelar" 
            mat-stroked-button
            cdkFocusInitial
            color="warn"
            mat-dialog-close
        >
            <mat-icon matPrefix>undo</mat-icon>
            Cancelar
        </button>
        <button 
            mat-flat-button 
            color="primary"
            (click)="confirmar()"
        >
            <mat-icon matPrefix>check</mat-icon>
            Confirmar
        </button>
    </div>
</div>