<form [formGroup]="formService.formulario" class="formulario">

    <!-- ID -->
    <mat-form-field class="field" appearance="outline">
        <mat-label>Código</mat-label>
        <input matInput [formControl]="formService.obterControle('idEmpenho')">
    </mat-form-field>

    <!-- Edital -->
    <mat-form-field class="field" appearance="outline">
        <mat-label>Nº Empenho</mat-label>
        <input matInput [formControl]="formService.obterControle('numEmpenho')">
    </mat-form-field>
    
    <!-- Edital -->
    <mat-form-field class="field" appearance="outline">
        <mat-label>Edital</mat-label>
        <input matInput [formControl]="formService.obterControle('edital')">
    </mat-form-field>
    
    <!-- Lookup Órgão -->
    <app-lookup-base
        class="field"
        label="Órgão"
        [control]="formService.obterControle('orgao')"
        [apenasLeitura]="true"/>

    <!-- Data -->
    <mat-form-field class="field" appearance="outline">
        <mat-label>Data do empenho</mat-label>
        <input matInput [matDatepicker]="dataLicitacao" [formControl]="formService.obterControle('data')">
        <mat-datepicker-toggle matIconSuffix [for]="dataLicitacao"></mat-datepicker-toggle>
        <mat-datepicker #dataLicitacao></mat-datepicker>
    </mat-form-field>

    <!-- Lookup unidade -->
    <app-lookup-base
        class="field"
        label="Unidade"
        [control]="formService.obterControle('unidade')"
        [data]="'orgao'"
        [tipoDaLookup]="lookupDeEntidades"
        [apenasLeitura]="formService.obterControle('status').value === 2"/>

    <!-- Valor -->
    <mat-form-field floatLabel="always" class="field number" appearance="outline">
        <mat-label>Valor do Empenho</mat-label>
        <input matInput type="number" class="right-align" placeholder="0" formControlName="valor">
        <span matTextPrefix>R$</span>
    </mat-form-field>
</form>