<section class="historico">
    <section class="btn-group">
        <app-botoes 
            class="btn" 
            icone="add" 
            texto="Reajuste" 
            variant="btn-cabecalho" 
            (click)="gerarHistorico()" 
            [permissao]="306"/>
        <app-botoes 
            [botaoDesabilitado]="!reajustes || !(reajustes.length > 0)"
            class="btn" 
            icone="delete" 
            texto="Excluir" 
            variant="btn-cabecalho" 
            (click)="excluirHistorico()" 
            [permissao]="307" 
            color="warn"/>
    </section>
    
    <mat-tab-group *ngIf="reajustes && reajustes.length > 0" (selectedIndexChange)="onTabChange($event)">
        <mat-tab
            *ngFor="let reajuste of reajustes; let i = index"
            label="{{reajuste.data | date: 'dd/MM/yyyy'}}">
            <app-item-ata-tabela
                *ngIf="reajuste.itens.length > 0"
                [listaItens]="reajuste.itens"
                [reajuste]="true"/>
            <!-- <app-tabela-historico-reajuste
                *ngIf="reajuste.itens.length > 0"
                [listaItens]="reajuste.itens"/> -->
        </mat-tab>
    </mat-tab-group>
</section>