.dialog {
    h2 {
        margin: 16px 0 0 24px;
    }

    h3 {
        margin-bottom: 0;
    }

    .campo {
        background-color: #ececec;
        padding: 16px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px;
        border-radius: 5px;


        &:not(:last-child) {
            margin-bottom: 16px;
        }

    }

    .mat-mdc-outlined-button:not(:disabled) {
        border-color: #f44336;
    }

    .btn-group {
        width: 100%;

        display: flex;
        justify-content: center;
    }

    .botoes{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 5px 0;
        .btn:not(:last-child){
            margin-right: 30px;
        }
    }
}

:host::ng-deep .btn-cabecalho {
    width: 100% !important;
    max-width: 180px;
}