<section class="tabela">
    <div class="container mat-elevation-z8">

        <div class="table-container">

            <table mat-table [dataSource]="listaItens" class="table">

                <!-- ID-Baixa Column -->
                <ng-container matColumnDef="baixaID">
                    <th mat-header-cell *matHeaderCellDef disableClear>
                        Baixa
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.baixaID}}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <!-- ID-Empenho -->
                <ng-container matColumnDef="empenhoId">
                    <th mat-header-cell *matHeaderCellDef disableClear>
                        Empenho
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.empenhoId}}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <!-- Código Column -->
                <ng-container matColumnDef="codigo">
                    <th mat-header-cell *matHeaderCellDef disableClear>
                        Código
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.id | separadorMilhar}}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <!-- nome Column -->
                <ng-container matColumnDef="nome">
                    <th mat-header-cell *matHeaderCellDef disableClear>
                        Nome
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.nome}}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <!-- unidade Column -->
                <ng-container matColumnDef="unidade">
                    <th mat-header-cell *matHeaderCellDef disableClear>
                        Unidade
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.unidade}}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <!-- Quantidade licitada -->
                <ng-container matColumnDef="qtdeEmpenhada">
                    <th mat-header-cell *matHeaderCellDef>Quantidade Empenhada</th>
                    <td mat-cell *matCellDef="let row">{{row.qtdeEmpenhada}} ({{row.unidade}})</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <!-- valor Unitário Column -->
                <ng-container matColumnDef="valorUnitario">
                    <th mat-header-cell *matHeaderCellDef>Valor Unitário</th>
                    <td mat-cell *matCellDef="let row"><strong>{{row.valorUnitario | currency:'R$'}}</strong></td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <!-- Quantidade entregue -->
                <ng-container matColumnDef="qtdeEntregue">
                    <th mat-header-cell *matHeaderCellDef>Quantidade Entregue</th>
                    <td mat-cell *matCellDef="let row">{{row.qtdeEntregue}} ({{row.unidade}})</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <!-- Quantidade a entregar -->
                <ng-container matColumnDef="qtdeAEntregar">
                    <th mat-header-cell *matHeaderCellDef>Saldo (Qtde)</th>
                    <td mat-cell *matCellDef="let row">{{row.qtdeAEntregar}} ({{row.unidade}})</td>
                    <td mat-footer-cell *matFooterCellDef>Saldo: <strong>{{getSaldo()| currency:'R$'}}</strong></td>
                </ng-container>

                <!-- valor entregue -->
                <ng-container matColumnDef="valorEntregue">
                    <th mat-header-cell *matHeaderCellDef>Valor Entregue</th>
                    <td mat-cell *matCellDef="let row"><strong>{{row.valorEntregue | currency:'R$'}}</strong></td>
                    <td mat-footer-cell *matFooterCellDef><strong>{{getTotalEntregue() | currency:'R$'}}</strong></td>
                </ng-container>

                <!-- valor total -->
                <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef>Valor Total</th>
                    <td mat-cell *matCellDef="let row"><strong>{{row.total | currency:'R$'}}</strong></td>
                    <td mat-footer-cell *matFooterCellDef><strong>{{getTotal() | currency:'R$'}}</strong></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" 
                    (click)="clickGrid(row)" (dblclick)="doubleClick()" [ngClass]="selecionar(row)">
                </tr>
                <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
            </table>
        </div>
    </div>
</section>