'<form #form="ngForm" class="dialog">
    <h2>{{titulo}}</h2>
    <div mat-dialog-content>
        <h3>Dados do Cadastro</h3>
        <div class="campo dados">
            <!-- Código -->
            <mat-form-field class="input" appearance="outline">
                <mat-label>Código</mat-label>
                <input matInput name="id" disabled [(ngModel)]="cadastro.id" #id="ngModel">
            </mat-form-field>

            <!-- nome -->
            <mat-form-field class="input" appearance="outline">
                <mat-label>Nome</mat-label>
                <input matInput name="nome" #nome="ngModel" [(ngModel)]="cadastro.nome">
            </mat-form-field>

            <!-- nome de usuario -->
            <mat-form-field class="input nomeUsuario" appearance="outline">
                <mat-label>Nome de Usuário</mat-label>
                <input matInput name="userName" [formControl]="username" (keyup)="verificaCadastro()">
                <mat-icon *ngIf="username.valid" matSuffix>check</mat-icon>
                <mat-spinner matSuffix class="spin" *ngIf="username.pending" [diameter]="20"></mat-spinner>
                <mat-error *ngIf="username.invalid && (username.dirty || username.touched)">
                    <ng-container *ngIf="username.errors?.['usernameTaken']">Nome de usuário já existe.</ng-container>
                    <ng-container *ngIf="username.errors?.['required']">O nome de usuário é obrigatório.</ng-container>
                </mat-error>
            </mat-form-field>

            <!-- cnpj -->
            <mat-form-field class="input" appearance="outline">
                <mat-label>CPF</mat-label>
                <input matInput name="cpf" #cnpj="ngModel" [(ngModel)]="cadastro.cpf"
                    [ngModel]="cadastro.cpf | mascarasInput:'cpf-cnpj'">
            </mat-form-field>

            <!-- email -->
            <mat-form-field class="input" appearance="outline">
                <mat-label>E-mail</mat-label>
                <input matInput name="email" #email="ngModel" [(ngModel)]="cadastro.email">
            </mat-form-field>

            <!-- telefone -->
            <mat-form-field class="input" appearance="outline">
                <mat-label>Telefone</mat-label>
                <input matInput name="telefone" #telefone="ngModel" [(ngModel)]="cadastro.telefone"
                    [ngModel]="cadastro.telefone | mascarasInput:'phone'">
            </mat-form-field>

            <!-- SENHA E CONFIRMA SENHA -->
            <mat-form-field appearance="outline">
                <mat-label>Senha</mat-label>
                <input matInput [formControl]="senha" type="password" placeholder="Digite sua senha">
                <mat-error *ngIf="senha?.errors?.['required']">Senha é obrigatória</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Confirmar Senha</mat-label>
                <input matInput [formControl]="resenha" type="password" placeholder="Repita sua senha">
                <mat-error *ngIf="resenha?.errors?.['required']">Confirmação de Senha é obrigatória</mat-error>
                <mat-error *ngIf="resenha?.errors?.['equalTo']">Senhas não coincidem</mat-error>
            </mat-form-field>
        </div>

        <h3>Endereço</h3>
        <div class="campo endereco">
            <!-- cep -->
            <mat-form-field class="input" appearance="outline">
                <mat-label>CEP</mat-label>
                <input matInput name="cep" #cep="ngModel" [(ngModel)]="cadastro.endereco.cep">
            </mat-form-field>

            <!-- uf -->
            <mat-form-field class="input" appearance="outline">
                <mat-label>Estado</mat-label>
                <input type="text" placeholder="Selecione" aria-label="Estado" matInput
                    [(ngModel)]="cadastro.endereco.uf" [matAutocomplete]="estado" name="uf" #uf="ngModel">
                <mat-autocomplete [displayWith]="displayFnEstados" #estado="matAutocomplete">
                    <mat-option *ngFor="let estado of estados" [value]="estado.id">
                        {{estado.id}} - {{estado.nome}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <!-- cidade -->
            <mat-form-field class="input" appearance="outline">
                <mat-label>Cidade</mat-label>
                <input matInput name="cidade" #cidade="ngModel" [(ngModel)]="cadastro.endereco.cidade">
            </mat-form-field>

            <!-- bairro -->
            <mat-form-field class="input" appearance="outline">
                <mat-label>Bairro</mat-label>
                <input matInput name="bairro" #bairro="ngModel" [(ngModel)]="cadastro.endereco.bairro">
            </mat-form-field>

            <!-- numero -->
            <mat-form-field class="input" appearance="outline">
                <mat-label>Número</mat-label>
                <input matInput name="numero" #numero="ngModel" [(ngModel)]="cadastro.endereco.numero">
            </mat-form-field>

            <!-- logradouro -->
            <mat-form-field class="input" appearance="outline">
                <mat-label>Logradouro</mat-label>
                <input matInput name="logradouro" #logradouro="ngModel" [(ngModel)]="cadastro.endereco.logradouro">
            </mat-form-field>

            <!-- complemento -->
            <mat-form-field class="input" appearance="outline">
                <mat-label>Complemento</mat-label>
                <input matInput name="complemento" #complemento="ngModel" [(ngModel)]="cadastro.endereco.complemento">
            </mat-form-field>
        </div>

        <h3>Permissões</h3>
        <mat-accordion>
            <app-container-permissoes [usuario]="cadastro" [usuarioPermissoes]="permissoes" />
        </mat-accordion>
    </div>
    <div mat-dialog-actions class="btn-group">
        <button class="Cancelar" mat-stroked-button color="warn" (click)="cancelar(form)">
            <mat-icon matPrefix>undo</mat-icon>
            Cancelar
        </button>
        <button 
            mat-flat-button 
            color="primary" 
            (click)="submeter()" 
            [disabled]="habilitaBotao()"
            [appHasPermission]="permissao"
            (hasPermission)="onHasPermission($event)">
            <mat-icon matPrefix>save</mat-icon>
            Salvar
        </button>
    </div>
    <ng-template #loadingSpinnerContainer></ng-template>
</form>