<form #form="ngForm" class="dialog">
    <h2>{{titulo}}</h2>
    <div mat-dialog-content>
        <h3>Dados do Cadastro</h3>
        <div class="campo dados">
            <!-- Código -->
            <mat-form-field class="input" appearance="outline">
                <mat-label>Código</mat-label>
                <input matInput name="id" disabled [(ngModel)]="usuario.id" #id="ngModel">
            </mat-form-field>

            <!-- nome -->
            <mat-form-field class="input" appearance="outline">
                <mat-label>nome</mat-label>
                <input matInput name="nome" #nome="ngModel" [(ngModel)]="usuario.nome">
            </mat-form-field>

            <!-- cnpj -->
            <mat-form-field class="input" appearance="outline">
                <mat-label>cpf</mat-label>
                <input matInput name="cpf" #cnpj="ngModel" [(ngModel)]="usuario.cpf"
                    [ngModel]="usuario.cpf | mascarasInput:'cpf-cnpj'">
            </mat-form-field>

            <!-- email -->
            <mat-form-field class="input" appearance="outline">
                <mat-label>E-mail</mat-label>
                <input matInput name="email" #email="ngModel" [(ngModel)]="usuario.email">
            </mat-form-field>

            <!-- telefone -->
            <mat-form-field class="input" appearance="outline">
                <mat-label>telefone</mat-label>
                <input matInput name="telefone" #telefone="ngModel" [(ngModel)]="usuario.telefone"
                    [ngModel]="usuario.telefone | mascarasInput:'phone'">
            </mat-form-field>
        </div>

        <h3>Endereço</h3>
        <div class="campo endereco">
            <!-- cep -->
            <mat-form-field class="input" appearance="outline">
                <mat-label>cep</mat-label>
                <input matInput name="cep" #cep="ngModel" [(ngModel)]="usuario.endereco.cep">
            </mat-form-field>

            <!-- uf -->
            <mat-form-field class="input" appearance="outline">
                <mat-label>Estado</mat-label>
                <input type="text" placeholder="Selecione" aria-label="Estado" matInput
                    [(ngModel)]="usuario.endereco.uf" [matAutocomplete]="estado" name="uf" #uf="ngModel">
                <mat-autocomplete [displayWith]="displayFnEstados" #estado="matAutocomplete">
                    <mat-option *ngFor="let estado of estados" [value]="estado.id">
                        {{estado.id}} - {{estado.nome}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <!-- cidade -->
            <mat-form-field class="input" appearance="outline">
                <mat-label>cidade</mat-label>
                <input matInput name="cidade" #cidade="ngModel" [(ngModel)]="usuario.endereco.cidade">
            </mat-form-field>

            <!-- bairro -->
            <mat-form-field class="input" appearance="outline">
                <mat-label>bairro</mat-label>
                <input matInput name="bairro" #bairro="ngModel" [(ngModel)]="usuario.endereco.bairro">
            </mat-form-field>

            <!-- numero -->
            <mat-form-field class="input" appearance="outline">
                <mat-label>Número</mat-label>
                <input matInput name="numero" #numero="ngModel" [(ngModel)]="usuario.endereco.numero">
            </mat-form-field>

            <!-- logradouro -->
            <mat-form-field class="input" appearance="outline">
                <mat-label>logradouro</mat-label>
                <input matInput name="logradouro" #logradouro="ngModel" [(ngModel)]="usuario.endereco.logradouro">
            </mat-form-field>

            <!-- complemento -->
            <mat-form-field class="input" appearance="outline">
                <mat-label>complemento</mat-label>
                <input matInput name="complemento" #complemento="ngModel" [(ngModel)]="usuario.endereco.complemento">
            </mat-form-field>
        </div>

        <h3>Permissões</h3>
        <mat-accordion>
            <app-container-permissoes [usuario]="usuario"/>
        </mat-accordion>
    </div>
    <div mat-dialog-actions class="btn-group">
        <button class="Cancelar" mat-stroked-button color="warn" (click)="cancelar(form)">
            <mat-icon matPrefix>undo</mat-icon>
            Cancelar
        </button>
        <button mat-flat-button color="primary" [mat-dialog-close]="usuario">
            <mat-icon matPrefix>save</mat-icon>
            Salvar
        </button>
    </div>
</form>