<section class="busca-itens">
    <form [formGroup]="form.formBusca">
        <app-cabecalho-busca-novo 
            (realizarBusca)="buscar()" 
            (limparFiltros)="limpar()"
            (editarCadastro)="editar()"
            (novoCadastro)="criar()"
            (cancelarOperacao)="voltar()"
            (inativarCadastro)="inativar()"
            [status]="selecionado.value?.status"
            [permissaoNovo]="202"
            [permissaoEditar]="203"
            [permissaoInativar]="204"
        >
            <app-form-busca-itens/>
        </app-cabecalho-busca-novo>

        <app-busca-container [control]="pesquisa" (enterClick)="onEnterClick()">
            <app-item-tabela 
                (abrirDialog)="editar()" 
                (pagina)="mudarPagina($event)"
                [lista]="lista"
                [isModalOpen]="isModalOpen"
                [control]="selecionado"
                [totalItems]="totalItems"
                [isLoadingResults]="isLoadingResults"
                [isRateLimitReached]="isRateLimitReached"
            />
        </app-busca-container>
    </form>

    <ng-template #loadingSpinnerContainer></ng-template>
</section>
