<div class="cesta">
    <span class="botoes">
        <app-botoes icone="delete" texto="Remover" color="warn" variant="btn-cabecalho" (click)="removerItem()" />
        <app-botoes icone="add" texto="Adicionar" variant="btn-cabecalho" (click)="addItem()" />
    </span>
    <span class="tabela" *ngIf="exibeTabela()">
        <app-item-tabela 
            [paginator]="false" 
            [control]="form.obterControle('selecionadoGrid')"
            [displayedColumns]="colunasGrid"
            [listaItens]="listaItens ? listaItens : []"/>
    </span>
</div>