<ng-template #loadingSpinnerContainer></ng-template>
<section class="busca-docmentos">
    <app-container>
        <app-cabecalho-baixa-policia
            (cancelar)="cancelar()"
            (acao)="salvar()"
            (editarEmpenho)="editarEmpenho()"
            (inativar)="inativar()"
            (novo)="novoEmpenho()"
            (remover)="excluirEmpenho()"
            (adicionarNota)="adicionarNota()"
            (editarNota)="editarNota()"
            (excluirNota)="excluirNota()"
            [status]="status.value"
            [label]="label">
            
            <app-formulario-baixa-policia/>
        </app-cabecalho-baixa-policia>

        <mat-tab-group 
            [selectedIndex]="aba.value"
            class="tab-group"
            (selectedIndexChange)="onTabChange($event)">
            <mat-tab label="Empenhos">
                <div class="conteudo">
                    <div class="tabela">
                        <app-baixa-policia-tabela [listaEmpenhos]="listaEmpenho.value"/>
                    </div>
                    <div class="totais">
                        <div class="labels">
                            <app-label-value class="label" label="Valor da ATA" [valor]="512135 | currency: 'R$'"/>
                            <app-label-value class="label" label="Valor EMPENHOS" [valor]="512135 | currency: 'R$'"/>
                            <app-label-value class="label" label="Valor ENTREGUE" [valor]="512135 | currency: 'R$'"/>
                            <app-label-value class="label" label="Saldo da ATA" color="lightcoral; font-weight: bold" [valor]="512135 | currency: 'R$'"/>
                            <app-label-value class="label" label="Saldo EMPENHOS" color="lightcoral; font-weight: bold" [valor]="512135 | currency: 'R$'"/>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Notas">

                <!-- <app-empenho-tabela 
                    [listaEmpenhos]="listaEmpenho.value" 
                    [control]="selecionado" 
                    (editar)="editarEmpenho()"/> -->

            </mat-tab>
        </mat-tab-group>
            
    </app-container>
</section>