.tab-group{
    margin-top: 10px;
}
.tabela{
    width: 70%;
}
.conteudo{
    width: 100%;
    display: flex;
}
.totais{
    margin-top: 22px;
    width: 30%;
    display: flex;
    justify-content: center;
}
.labels{
    width: 280px;
}