<ng-template #loadingSpinnerContainer></ng-template>
<section class="busca-docmentos">
    <app-container>
        <app-cabecalho-baixa-policia
            (cancelar)="cancelar()"
            (acao)="salvar()"
            (editarEmpenho)="editarEmpenho()"
            (inativar)="inativar()"
            (novo)="novoEmpenho()"
            (remover)="excluirEmpenho()"
            (adicionarNota)="adicionarNota()"
            (editarNota)="editarNota()"
            (excluirNota)="excluirNota()"
            [status]="status.value"
            [label]="label">
            
            <app-formulario-ata [formService]="form" [formEdit]="false"/>
        </app-cabecalho-baixa-policia>

        <mat-tab-group 
            [selectedIndex]="aba.value"
            class="tab-group"
            (selectedIndexChange)="onTabChange($event)">
            <mat-tab label="Empenhos">
                <div class="conteudo">
                    <div class="tabela">
                        <app-baixa-policia-tabela
                            [lista]="listaEmpenho.value"
                            [control]="selecionado"
                            [activeTab]="this.aba.value === 0 || this.aba.value === null"
                            [isModalOpen]="isModalOpen"
                            (abrirDialog)="editarEmpenho()"/>
                    </div>
                    <div class="totais">
                        <div class="labels">
                            <app-label-value class="label" label="Valor da ATA" [valor]="form.valorLicitado| currency: 'R$'"/>
                            <app-label-value class="label" label="Valor EMPENHOS" [valor]="form.valorEmpenhado| currency: 'R$'"/>
                            <app-label-value class="label" label="Valor ENTREGUE" [valor]="form.valorEntregue| currency: 'R$'"/>
                            <app-label-value class="label" label="Saldo da ATA" color="lightcoral; font-weight: bold" [valor]="form.valorLicitado - form.valorEntregue | currency: 'R$'"/>
                            <app-label-value class="label" label="Saldo EMPENHOS" color="lightcoral; font-weight: bold" [valor]="form.valorEmpenhado - form.valorEntregue | currency: 'R$'"/>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Notas">
                <app-empenho-tabela-notas
                    [lista]="listaNotas.value"
                    [control]="notaSelecionada"
                    [isModalOpen]="isModalOpen"
                    [activeTab]="this.aba.value === 1"
                    [isModalOpen]="isModalOpen"
                    (abrirDialog)="editarNota()"/>

            </mat-tab>
        </mat-tab-group>
            
    </app-container>
</section>