<section class="filters">
    <ng-container>
        <mat-form-field class="field" appearance="outline">
            <mat-label>Status</mat-label>
            <input type="text" placeholder="Selecione" aria-label="Status" matInput
                [formControl]="formService.obterControle('status')" [matAutocomplete]="stts">
            <mat-autocomplete [displayWith]="displayFnStatus" #stts="matAutocomplete">
                <mat-option *ngFor="let item of status" [value]="item">
                    {{item.nome}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </ng-container>

    <ng-container>
        <mat-form-field class="field" appearance="outline">
            <mat-label>Tipo</mat-label>
            <input type="text" placeholder="Selecione" aria-label="Tipo" matInput
                [formControl]="formService.obterControle('ehCesta')" [matAutocomplete]="tipo">
            <mat-autocomplete #tipo="matAutocomplete">
                <mat-option *ngFor="let item of tipoItem" [value]="item">
                    {{item}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </ng-container>

    <mat-form-field class="field" appearance="outline">
        <mat-label>Unidade primária</mat-label>
        <input matInput [formControl]="formService.obterControle('unidadePri')">
    </mat-form-field>

    <mat-form-field class="field" appearance="outline">
        <mat-label>Unidade secundária</mat-label>
        <input matInput [formControl]="formService.obterControle('unidadeSec')">
    </mat-form-field>
</section>