<app-container>
    <section class="barra-tarefas">
        <div class="botoes" *ngIf="comBotoes">
            <app-botoes 
                [icone]="status === 1 || !status? 'delete' : 'check'" 
                [texto]="status === 1 || !status? 'Inativar' : 'Reativar'" 
                [color]="status === 1 || !status? 'warn' : 'verde'" 
                variant="btn-cabecalho" 
                (click)="inativar()"/>

            <app-botoes icone="add" texto="Novo" variant="btn-cabecalho" (click)="novo()" />

            <app-botoes icone="undo" texto="Cancelar" variant="btn-cabecalho" (click)="cancelar()" />

            <app-botoes icone="edit" texto="Editar" variant="btn-cabecalho" (click)="editar()" />
        </div>

        <div class="filtros">
            <ng-content></ng-content>

            <div class="botoes-filtro">
                <button mat-flat-button color="primary" (click)="limpar()">Limpar filtros</button>
                <button mat-flat-button color="primary" (click)="buscar()">Filtrar</button>
            </div>
        </div>
    </section>
</app-container>
