<form #entidadeForm="ngForm" class="dialog">
    <h2>{{titulo}}</h2>
    <div mat-dialog-content>
        <h3>Dados do Cadastro</h3>
        <div class="campo dados">
            <!-- Código -->
            <mat-form-field class="input" appearance="outline">
                <mat-label>Código</mat-label>
                <input matInput name="id" disabled [(ngModel)]="entidade.id" #id="ngModel">
            </mat-form-field>
            
            <!-- nome -->
            <mat-form-field class="input" appearance="outline">
                <mat-label>nome</mat-label>
                <input 
                    maxlength="50"
                    matInput 
                    name="nome" 
                    #nome="ngModel" 
                    [(ngModel)]="entidade.nome">
            </mat-form-field>

            <!-- tipo de Cadastro -->
            <mat-form-field class="input" appearance="outline">
                <mat-label>tipo do cadastro</mat-label>
                <input
                    type="text"
                    placeholder="Selecione"
                    aria-label="tipo do cadastro"
                    matInput
                    [(ngModel)]="entidade.tipo"
                    [matAutocomplete]="auto"
                    name="tipo"
                    #tipo="ngModel"
                >
                <mat-autocomplete [displayWith]="displayFn" #auto="matAutocomplete">
                    <mat-option *ngFor="let option of options" [value]="option.id">
                        {{option.nome}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            
            <!-- cnpj -->
            <mat-form-field class="input" appearance="outline">
                <mat-label>cnpj</mat-label>
                <input 
                    matInput 
                    name="cnpj" 
                    maxlength="18" 
                    #cnpj="ngModel" 
                    [(ngModel)]="entidade.cnpj" 
                    [ngModel]="entidade.cnpj | mascarasInput:'cpf-cnpj'">
            </mat-form-field>

            <!-- ie -->
            <mat-form-field class="input" appearance="outline">
                <mat-label>Inscrição Estadual</mat-label>
                <input
                    maxlength="9" 
                    matInput 
                    name="ie" 
                    #ie="ngModel" 
                    [(ngModel)]="entidade.ie">
            </mat-form-field>

            <!-- fantasia -->
            <mat-form-field class="input" appearance="outline">
                <mat-label>nome fantasia</mat-label>
                <input 
                    maxlength="50"
                    matInput 
                    name="fantasia" 
                    #fantasia="ngModel" 
                    [(ngModel)]="entidade.fantasia">
            </mat-form-field>

            <!-- email -->
            <mat-form-field class="input" appearance="outline">
                <mat-label>E-mail</mat-label>
                <input 
                    maxlength="40"
                    matInput 
                    name="email" 
                    #email="ngModel" 
                    [(ngModel)]="entidade.email">
            </mat-form-field>

            <!-- telefone -->
            <mat-form-field class="input" appearance="outline">
                <mat-label>telefone</mat-label>
                <input 
                    matInput 
                    name="telefone" 
                    maxlength="16" 
                    #telefone="ngModel" 
                    [(ngModel)]="entidade.telefone" 
                    [ngModel]="entidade.telefone | mascarasInput:'phone'">
            </mat-form-field>
        </div>

        <h3>Endereço</h3>
        <div class="campo endereco">
            <!-- cep -->
            <mat-form-field class="input" appearance="outline">
                <mat-label>cep</mat-label>
                <input 
                    matInput
                    name="cep" 
                    #cep="ngModel" 
                    maxlength="9" 
                    [(ngModel)]="entidade.endereco.cep" 
                    [ngModel]="entidade.endereco.cep | mascarasInput: 'cep'">
            </mat-form-field>

            <!-- uf -->
            <mat-form-field class="input" appearance="outline">
                <mat-label>Estado</mat-label>
                <input
                    type="text"
                    placeholder="Selecione"
                    aria-label="Estado"
                    matInput
                    [(ngModel)]="entidade.endereco.uf"
                    [matAutocomplete]="estado"
                    name="uf" #uf="ngModel"
                >
                <mat-autocomplete [displayWith]="displayFnEstados" #estado="matAutocomplete">
                    <mat-option *ngFor="let estado of estados" [value]="estado.id">
                        {{estado.id}} - {{estado.nome}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <!-- cidade -->
            <mat-form-field class="input" appearance="outline">
                <mat-label>cidade</mat-label>
                <input 
                    maxlength="30"
                    matInput 
                    name="cidade" 
                    #cidade="ngModel" 
                    [(ngModel)]="entidade.endereco.cidade">
            </mat-form-field>

            <!-- bairro -->
            <mat-form-field class="input" appearance="outline">
                <mat-label>bairro</mat-label>
                <input 
                    maxlength="30"
                    matInput 
                    name="bairro" 
                    #bairro="ngModel" 
                    [(ngModel)]="entidade.endereco.bairro">
            </mat-form-field>

            <!-- numero -->
            <mat-form-field class="input" appearance="outline">
                <mat-label>Número</mat-label>
                <input 
                    maxlength="10"
                    matInput 
                    name="numero" 
                    #numero="ngModel" 
                    [(ngModel)]="entidade.endereco.numero">
            </mat-form-field>

            <!-- logradouro -->
            <mat-form-field class="input" appearance="outline">
                <mat-label>logradouro</mat-label>
                <input 
                    maxlength="30"
                    matInput 
                    name="logradouro" 
                    #logradouro="ngModel" 
                    [(ngModel)]="entidade.endereco.logradouro">
            </mat-form-field>

            <!-- complemento -->
            <mat-form-field class="input" appearance="outline">
                <mat-label>complemento</mat-label>
                <input 
                    maxlength="30"
                    matInput 
                    name="complemento" 
                    #complemento="ngModel" 
                    [(ngModel)]="entidade.endereco.complemento">
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions class="btn-group">
        <button class="Cancelar" mat-stroked-button color="warn" (click)="cancelar(entidadeForm)">
            <mat-icon matPrefix>undo</mat-icon>
            Cancelar
        </button>
        <button mat-flat-button color="primary" (click)="submeter()">
            <mat-icon matPrefix>save</mat-icon>
            Salvar
        </button>
    </div>
</form>
