.dialog {
    .mat-mdc-outlined-button:not(:disabled) {
        border-color: #f44336;
    }

    .mensagem {
        white-space: pre-wrap;
    }

    .btn-group {
        width: 100%;

        display: flex;
        justify-content: center;
    }
}

:host::ng-deep .table-container {
    max-height: 50vh !important;
}