<section class="filters">
    <ng-container>
        <mat-form-field class="field" appearance="outline">
            <mat-label>Tipo do Cadastro</mat-label>
            <input type="text" placeholder="Selecione" aria-label="tipo do cadastro" matInput
                [formControl]="formService.obterControle('tipo')" [matAutocomplete]="auto">
            <mat-autocomplete [displayWith]="displayFn" #auto="matAutocomplete">
                <mat-option *ngFor="let option of options" [value]="option">
                    {{option.nome}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </ng-container>
    
    <ng-container>
        <mat-form-field class="field" appearance="outline">
            <mat-label>Status</mat-label>
            <input type="text" placeholder="Selecione" aria-label="status" matInput
                [formControl]="formService.obterControle('status')" [matAutocomplete]="stts">
            <mat-autocomplete [displayWith]="displayFnStatus" #stts="matAutocomplete">
                <mat-option *ngFor="let item of status" [value]="item">
                    {{item.nome}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </ng-container>

    <mat-form-field class="field" appearance="outline">
        <mat-label>Cidade</mat-label>
        <input matInput [formControl]="formService.obterControle('cidade')">
    </mat-form-field>
</section>