<section (keydown.enter)="onEnterPress($event)">
    <div class="container mat-elevation-z8">

        <div class="loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
            <div class="rate-limit-reached" *ngIf="isRateLimitReached">
                Tempo limite de sincronização com banco de dados
            </div>
        </div>

        <div class="table-container" [class.bigger]="isLoadingResults || isRateLimitReached">

            <table mat-table [dataSource]="lista" class="table">

                <!-- Código Column -->
                <ng-container matColumnDef="codigo">
                    <th mat-header-cell *matHeaderCellDef disableClear>
                        Código
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.id | separadorMilhar}}</td>
                </ng-container>

                <!-- status Column -->
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef disableClear>
                        Status
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.status | formataEnum:'status'}}</td>
                </ng-container>

                <!-- ehCesta Column -->
                <ng-container matColumnDef="cesta">
                    <th mat-header-cell *matHeaderCellDef disableClear>
                        Tipo
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.ehCesta ? 'Cesta' : 'Item'}}</td>
                </ng-container>

                <!-- nome Column -->
                <ng-container matColumnDef="nome">
                    <th mat-header-cell *matHeaderCellDef>Nome</th>
                    <td mat-cell *matCellDef="let row">{{row.nome}}</td>
                </ng-container>

                <!-- unidade Primaria Column -->
                <ng-container matColumnDef="unidadePri">
                    <th mat-header-cell *matHeaderCellDef>Unidade Primária</th>
                    <td mat-cell *matCellDef="let row">{{row.unidadePrimaria}}</td>
                </ng-container>

                <!-- unidade secundaria Column -->
                <ng-container matColumnDef="unidadeSec">
                    <th mat-header-cell *matHeaderCellDef>Unidade Secundária</th>
                    <td mat-cell *matCellDef="let row">{{row.unidadeSecundaria}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row (click)="clickGrid(row)" (dblclick)="doubleClick()" [ngClass]="selecionar(row)"
                    *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>

        <mat-paginator 
            *ngIf="paginator" 
            class="paginator" 
            hidePageSize 
            [length]="totalItems" 
            [pageSize]="15"
            (page)="mudaPagina($event)"
            aria-label="Select page"/>
    </div>
</section>