<form #form="ngForm" class="dialog">
    <h2>{{titulo}}</h2>
    <div mat-dialog-content>
        <h3>Dados do Cadastro</h3>
        <div class="campo dados">
            <!-- Código -->
            <mat-form-field class="input" appearance="outline">
                <mat-label>Código</mat-label>
                <input 
                    matInput 
                    name="id" 
                    disabled 
                    [(ngModel)]="cadastro.id" 
                    #id="ngModel">
            </mat-form-field>

            <!-- nome -->
            <mat-form-field class="input" appearance="outline">
                <mat-label>nome</mat-label>
                <input 
                    matInput 
                    name="nome" 
                    #nome="ngModel" 
                    maxlength="100"
                    [(ngModel)]="cadastro.nome">
            </mat-form-field>

            <!-- unidade primária -->
            <mat-form-field class="input" appearance="outline">
                <mat-label>unidade primária</mat-label>
                <input 
                    matInput 
                    name="ie" 
                    #ie="ngModel" 
                    maxlength="10"
                    [(ngModel)]="cadastro.unidadePrimaria">
            </mat-form-field>

            <!-- unidade secundária -->
            <mat-form-field class="input" appearance="outline">
                <mat-label>unidade secundária</mat-label>
                <input 
                    matInput 
                    name="fantasia" 
                    #fantasia="ngModel" 
                    maxlength="10"
                    [(ngModel)]="cadastro.unidadeSecundaria">
            </mat-form-field>
        </div>

        <h3>Nomes Auxiliares</h3>
        <div class="campo nomes">
            <mat-form-field class="chip-list" appearance="outline">
                <mat-chip-grid #chipGrid [(ngModel)]="cadastro.listaNomes" name="listaNomes" aria-label="Enter Items">
                    <mat-chip-row *ngFor="let nomeAuxiliar of cadastro.listaNomes" (removed)="remove(nomeAuxiliar)"
                        [editable]="true" (edited)="edit(nomeAuxiliar, $event)"
                        [aria-description]="'press enter to edit ' + nomeAuxiliar">
                        {{nomeAuxiliar}}
                        <button matChipRemove [attr.aria-label]="'remove ' + nomeAuxiliar">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip-row>
                    <input placeholder="Novo nome..." [matChipInputFor]="chipGrid"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="add($event)" />
                </mat-chip-grid>
            </mat-form-field>
        </div>

        <mat-checkbox class="checkbox" [checked]="cadastro.ehCesta" color="primary"
            (change)="toggleCesta(cadastro)">Cesta</mat-checkbox>

        <section *ngIf="cadastro.ehCesta">
            <h3>itens da cesta</h3>
            <app-container-cesta [listaControl]="listaControl"/>
        </section>
    </div>
    <div mat-dialog-actions class="btn-group">
        <button class="Cancelar" mat-stroked-button color="warn" (click)="cancelar(form)">
            <mat-icon matPrefix>undo</mat-icon>
            Cancelar
        </button>
        <button 
            mat-flat-button 
            color="primary" 
            (click)="submeter()"
            [appHasPermission]="permissao"
            (hasPermission)="onHasPermission($event)"
            [disabled]="botaoDesabilitado">
            <mat-icon matPrefix>save</mat-icon>
            Salvar
        </button>
    </div>
    <ng-template #loadingSpinnerContainer></ng-template>
</form>