.tabela {
    margin-top: 22px;
}

.container {
    position: relative;

    .table-container {
        position: relative;
        max-height: 48vh;
        overflow: auto;

        table {
            width: 100%;

            .mat-mdc-cell:not(:last-child) {
                border-right: solid 1px #c9c9c9;
            }

            th {
                background-color: lightgray;
            }

        }
    }
}

tr.mat-mdc-footer-row {
    background-color: #e9e8e8;
    font-weight: bold;
}