<form [formGroup]="formService.formulario" class="formulario">

    <!-- Edital -->
    <mat-form-field class="field" appearance="outline">
        <mat-label>Edital</mat-label>
        <input matInput [formControl]="formService.obterControle('edital')">
        <mat-error *ngIf="formService.formulario.get('edital')?.errors?.['required']">
            numero do edital é <strong>obrigatório</strong>
        </mat-error>
    </mat-form-field>

    <!-- Data licitação -->
    <mat-form-field class="field" appearance="outline">
        <mat-label>Data licitação</mat-label>
        <input matInput [matDatepicker]="dataLicitacao" [formControl]="formService.obterControle('dataLicitacao')"> 
        <mat-datepicker-toggle matIconSuffix [for]="dataLicitacao"></mat-datepicker-toggle>
        <mat-datepicker #dataLicitacao></mat-datepicker>
    </mat-form-field>

    <!-- Data ata -->
    <mat-form-field class="field" appearance="outline">
        <mat-label>Data ata</mat-label>
        <input matInput [matDatepicker]="dataAta" [formControl]="formService.obterControle('dataAta')">
        <mat-datepicker-toggle matIconSuffix [for]="dataAta"></mat-datepicker-toggle>
        <mat-datepicker #dataAta></mat-datepicker>
    </mat-form-field>

    <!-- Vigência -->
    <mat-form-field class="field" appearance="outline">
        <mat-label>Vigência</mat-label>
        <input matInput [matDatepicker]="vigencia" [formControl]="formService.obterControle('vigencia')">
        <mat-datepicker-toggle matIconSuffix [for]="vigencia"></mat-datepicker-toggle>
        <mat-datepicker #vigencia></mat-datepicker>
    </mat-form-field>

    <!-- Lookup empresa -->
     <app-lookup-base
        class="lookup"
        label="Empresa"
        [control]="formService.obterControle('empresa')"
        [data]="'empresa'"
        [tipoDaLookup]="lookupDeEntidades"
        [apenasLeitura]="desabilitado()"/>

    <!-- Lookup Órgão -->
    <app-lookup-base
        class="lookup"
        label="Órgão"
        [control]="formService.obterControle('orgao')"
        [data]="'orgao'"
        [tipoDaLookup]="lookupDeEntidades"
        [apenasLeitura]="desabilitado()"/>

    <!-- unidade dropdown -->
    <ng-container>
        <mat-form-field class="field" appearance="outline">
            <mat-label>Unidade</mat-label>
            <input type="text" placeholder="Selecione" aria-label="unidade" matInput
                [formControl]="formService.obterControle('unidade')" [matAutocomplete]="unidade">
            <mat-autocomplete [displayWith]="displayUnidade" #unidade="matAutocomplete">
                <mat-option *ngFor="let option of options" [value]="option">
                    {{option.nome}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </ng-container>
</form>