<section>
    <div class="container mat-elevation-z8">

        <!-- <div class="loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
            <div class="rate-limit-reached" *ngIf="isRateLimitReached">
                GitHub's API rate limit has been reached. It will be reset in one minute.
            </div>
        </div> -->

        <div class="table-container">

            <table mat-table [dataSource]="listaDocumentos" class="table">

                <!-- Código Column -->
                <ng-container matColumnDef="codigo">
                    <th mat-header-cell *matHeaderCellDef disableClear>
                        Código
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.ID}}</td>
                </ng-container>

                <!-- Orgao -->
                <ng-container matColumnDef="orgao">
                    <th mat-header-cell *matHeaderCellDef disableClear>
                        Órgão
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.Orgao}}</td>
                </ng-container>

                <!-- Unidade Column -->
                <ng-container matColumnDef="unidade">
                    <th mat-header-cell *matHeaderCellDef>Unidade</th>
                    <td mat-cell *matCellDef="let row">{{row.Unidade | formataEnum: 'tipo'}}</td>
                </ng-container>

                <!-- Data Licitação -->
                <ng-container matColumnDef="dataLicitacao">
                    <th mat-header-cell *matHeaderCellDef>Data da Licitação</th>
                    <td mat-cell *matCellDef="let row">{{row.DataLicitacao | date: 'DD/MM/YYYY' }}</td>
                </ng-container>

                <!-- Data Ata -->
                <ng-container matColumnDef="dataAta">
                    <th mat-header-cell *matHeaderCellDef>Data da Ata</th>
                    <td mat-cell *matCellDef="let row">{{row.DataAta | date: 'DD/MM/YYYY' }}</td>
                </ng-container>

                <!-- Status Column -->
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>Status</th>
                    <td mat-cell *matCellDef="let row">{{row.Status | formataEnum: 'status'}}</td>
                </ng-container>

                <!-- Valor Column -->
                <ng-container matColumnDef="valor">
                    <th mat-header-cell *matHeaderCellDef>Valor licitado</th>
                    <td mat-cell *matCellDef="let row">{{row.TotalLicitado}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row (click)="clickGrid(row)" (dblclick)="doubleClick()" [ngClass]="selecionar(row)"
                    *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>

        <mat-paginator class="paginator" hidePageSize [length]="listaDocumentos.length" [pageSize]="30"
            aria-label="Select page of GitHub search results"></mat-paginator>
    </div>
</section>