.container {
    position: relative;

    .loading-shade {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 56px;
        right: 0;
        background: rgba(0, 0, 0, 0.15);
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        .rate-limit-reached {
            max-width: 360px;
            text-align: center;
        }
    }

    .table-container {
        position: relative;
        max-height: 56vh;
        overflow: auto;

        table {
            width: 100%;

            .mat-mdc-cell:not(:last-child) {
                border-right: solid 1px #c9c9c9;
            }

            th {
                background-color: lightgray;
            }

            .mat-column-position,
            .mat-column-symbol {
                max-width: 64px;
            }

            .mat-column-name {
                max-width: 124px;
            }
        }
    }

    .paginator {
        background-color: lightgray;
    }
}


/*CLIQUE*/
.mat-mdc-row .mat-mdc-cell {
    cursor: pointer;
}

.mat-mdc-row:hover:not(.selecionado) {
    background-color: #e9e8e8
}

.selecionado {
    background-color: #d8d8d8
}