<section class="tabela">
    <div class="container mat-elevation-z8">
        <div class="loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
            <div class="rate-limit-reached" *ngIf="isRateLimitReached">
                Tempo limite de sincronização com banco de dados
            </div>
        </div>
        <div class="table-container" [class.bigger]="isLoadingResults || isRateLimitReached"> 

            <table mat-table [dataSource]="listaItens" class="table">

                <!-- Código Column -->
                <ng-container matColumnDef="codigo">
                    <th mat-header-cell *matHeaderCellDef disableClear>
                        Código
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.id | separadorMilhar}}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <!-- nome Column -->
                <ng-container matColumnDef="nome">
                    <th mat-header-cell *matHeaderCellDef disableClear>
                        Nome
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.nome}}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <!-- unidade Column -->
                <ng-container matColumnDef="unidade">
                    <th mat-header-cell *matHeaderCellDef disableClear>
                        Unidade
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.unidade}}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <!-- Quantidade empenhada Column -->
                <ng-container matColumnDef="qtdeEmpenhada">
                    <th mat-header-cell *matHeaderCellDef>Quantidade Empenhada (Notas)</th>
                    <td mat-cell *matCellDef="let row">{{row.qtdeEmpenhada}}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <!-- Quantidade licitada -->
                <ng-container matColumnDef="qtdeLicitada">
                    <th mat-header-cell *matHeaderCellDef>Quantidade Licitada (Ata)</th>
                    <td mat-cell *matCellDef="let row">{{row.qtdeLicitada}}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <!-- Quantidade a empenhar -->
                <ng-container matColumnDef="qtdeAEmpenhar">
                    <th mat-header-cell *matHeaderCellDef>Falta Empenhar (Qtde)</th>
                    <td mat-cell *matCellDef="let row">{{row.qtdeAEmpenhar}}</td>
                    <td mat-footer-cell *matFooterCellDef>Totalizadores: </td>
                </ng-container>

                <!-- valor empenhado Column -->
                <ng-container matColumnDef="valorEmpenhado">
                    <th mat-header-cell *matHeaderCellDef>Valor Empenhado (Notas)</th>
                    <td mat-cell *matCellDef="let row"><strong>{{row.valorEmpenhado | currency:'R$'}}</strong></td>
                    <td mat-footer-cell *matFooterCellDef>{{getTotalEmpenhado() | currency:'R$'}}</td>
                </ng-container>

                <!-- valor licitado Column -->
                <ng-container matColumnDef="valorLicitado">
                    <th mat-header-cell *matHeaderCellDef>Valor Licitado (Ata)</th>
                    <td mat-cell *matCellDef="let row"><strong>{{row.valorLicitado | currency:'R$'}}</strong></td>
                    <td mat-footer-cell *matFooterCellDef>{{getTotalLicitado() | currency:'R$'}}</td>
                </ng-container>

                <!-- saldo Column -->
                <ng-container matColumnDef="saldo">
                    <th mat-header-cell *matHeaderCellDef>Falta Empenhar (R$)</th>
                    <td mat-cell *matCellDef="let row"><strong>{{row.saldo | currency:'R$'}}</strong></td>
                    <td mat-footer-cell *matFooterCellDef>{{getTotalSaldo() | currency:'R$'}}</td>
                </ng-container>

                <!-- valor Unitário Column -->
                <ng-container matColumnDef="valorUnitario">
                    <th mat-header-cell *matHeaderCellDef>Valor Unitário</th>
                    <td mat-cell *matCellDef="let row"><strong>{{row.valorUnitario | currency:'R$'}}</strong></td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                    (click)="clickGrid(row)" (dblclick)="doubleClick()" [ngClass]="selecionar(row)"></tr>
                <ng-container *ngIf="totalizadores">
                    <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
                </ng-container>
            </table>
        </div>
    </div>
</section>