<section class="login">
    <form [formGroup]="loginForm" class="dados-login" (ngSubmit)="login()">
        <ng-container *ngIf="!logando">
            <h1>Bem vindo!</h1>
            <!-- USERNAME -->
            <mat-form-field class="input" appearance="outline">
                <mat-label>Usuário</mat-label>
                <input matInput formControlName="userName" placeholder="Digite seu usuario" required>
                <mat-error *ngIf="loginForm.get('userName')?.errors?.['required']">Usuário é obrigatório</mat-error>
            </mat-form-field>
    
            <!-- SENHA -->
    
            <mat-form-field appearance="outline" (keydown.enter)="login()">
                <mat-label>Senha</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="senha" required>
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="loginForm.get('senha')?.errors">Senha é obrigatória</mat-error>
            </mat-form-field>
    
            <!-- BTN LOGAR -->
            <button 
                class="btn-login"
                mat-fab 
                extended
                color="primary"
                [disabled]="loginForm.invalid"
                type="submit">
                <mat-icon class="icone">login</mat-icon>
                <span class="texto">L O G I N</span>
            </button>
        </ng-container>

        <mat-spinner *ngIf="logando"></mat-spinner>
    </form>
</section>