<section class="barra-tarefas">
    <div class="botoes">
        <div class="btn-group">
            <app-botoes icone="upload" texto="Importar Empenho" variant="btn-cabecalho" color="verde" [permissao]="404" (click)="abrirBaixa()" />
            <app-botoes icone="add" texto="Novo Empenho" variant="btn-cabecalho" [permissao]="402" (click)="adicionar()" />            
        </div>

        <div class="btn-group">
            <app-botoes 
                variant="btn-cabecalho"
                [icone]="verificaStatus()? 'block' : 'check'"
                [texto]="verificaStatus()? 'Inativar Baixa' : 'Reativar Baixa'"
                [color]="verificaStatus()? 'warn' : 'verde'" 
                [permissao]="405"
                (click)="inativarDocumento()" />

            <app-botoes icone="delete" texto="Excluir Empenho" variant="btn-cabecalho" [permissao]="403" (click)="excluir()" />
        </div>

        <div class="btn-group">
            <app-botoes icone="undo" texto="Cancelar" variant="btn-cabecalho" (click)="cancelarOperacao()"/>
            <app-botoes icone="edit" texto="Editar Empenho" variant="btn-cabecalho" disabled [permissao]="407" (click)="editar()"/>
        </div>
    </div>

    <div class="formulario">
        <ng-content></ng-content>
    </div>
</section>