<section class="barra-tarefas">
    <div class="botoes">
        <div class="btn-group">
            <app-botoes icone="save" texto="Salvar" variant="btn-cabecalho" [permissao]="status === 2? 15 : 406" (acao)="salvar()" />
            <app-botoes variant="btn-cabecalho" [icone]="verificaStatus()? 'block' : 'check'"
                [texto]="verificaStatus()? 'Encerrar Empenho' : 'Abrir Empenho'"
                [color]="verificaStatus()? 'warn' : 'verde'" [permissao]="405" (acao)="inativarDocumento()" />
            <app-botoes icone="undo" texto="Voltar" variant="btn-cabecalho" (acao)="cancelarOperacao()" />
        </div>

        <ng-container *ngIf="label === 'Item'; else template">
            <div class="btn-group">
                <app-botoes icone="add" texto="Adicionar Item" variant="btn-cabecalho" [permissao]="status === 2? 15 : 406"
                    (acao)="adicionarItem()" />
                <app-botoes icone="delete" texto="Excluir Item" variant="btn-cabecalho" [permissao]="status === 2? 15 : 406"
                    (acao)="removerItem()" />
                <app-botoes icone="edit" texto="Editar Item" variant="btn-cabecalho" (acao)="editarItem()" [permissao]="status === 2? 15 : 0" />
            </div>
        </ng-container>
    </div>

    <div class="formulario">
        <ng-content></ng-content>
    </div>
</section>

<ng-template #template>
    <div class="btn-group">
        <app-botoes icone="add" texto="Adicionar Nota" variant="btn-cabecalho" [permissao]="status !==2? 502 : 15"
            (acao)="adicionarNotas()" />
        <app-botoes icone="delete" texto="Excluir Nota" variant="btn-cabecalho" [permissao]="status !==2? 504 : 15"
            (acao)="removerNotas()" />
        <app-botoes icone="visibility" texto="Ver Nota" variant="btn-cabecalho" [permissao]="503" (acao)="editarNotas()" />
    </div>
</ng-template>