html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
    flex: 1 1 auto;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.filters {
    margin-top: 22px;
}

.snack-bar-success .mat-mdc-snack-bar-label {
    color: #2bbb2b !important;
}

.snack-bar-error .mat-mdc-snack-bar-label {
    color: #fc7070 !important;
}

.snack-bar-alert .mat-mdc-snack-bar-label {
    color: #e6f700 !important;
}

.bigger{
    height: 600px;
}