<div *ngIf="usuario" class="telas">
    <mat-expansion-panel class="pannel" *ngFor="let permissao of usuario.permissoes">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span class="nomeTela">{{permissao.tela}}</span>
            </mat-panel-title>
            <mat-panel-description>
                Permissões do módulo {{permissao.tela}}
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="recursos">
            <ng-container *ngFor="let recurso of permissao.recursos">
                <mat-checkbox class="checkbox" [checked]="recurso.permissaoRecurso" color="primary"
                    (change)="togglePermissao(recurso)">{{recurso.nomeRecurso}}</mat-checkbox>
                <mat-divider class="divider" />
            </ng-container>
        </div>
    </mat-expansion-panel>
</div>