<ng-template #loadingSpinnerContainer></ng-template>
<section class="busca-docmentos">
    <app-container>
        <app-cabecalho-empenho 
            (cancelar)="cancelar()" (acao)="salvar()" (inativar)="inativar()"
            (adicionar)="adicionar()"(excluir)="excluir()"(editar)="editar()"
            (adicionarNota)="adicionarNota()" (excluirNota)="excluirNota()" (editarNota)="editarNota()"
            [status]="status.value"
            [label]="label">
            
            <app-formulario-empenho/>
        </app-cabecalho-empenho>

        <mat-tab-group 
            [selectedIndex]="aba.value"
            class="tab-group"
            (selectedIndexChange)="onTabChange($event)"
        >
            <mat-tab label="Itens">
                
                <app-empenho-tabela-itens 
                    [lista]="listaItens.value" 
                    [control]="selecionado"
                    [activeTab]="this.aba.value === 0 || this.aba.value === null"
                    [isModalOpen]="isModalOpen"
                    (abrirDialog)="editar()"/>

            </mat-tab>
            
            <mat-tab label="Notas" *ngIf="possuiPermissao">
                <app-empenho-tabela-notas
                    [lista]="listaDocumentos.value"
                    [control]="documentoSelecionado"
                    [activeTab]="this.aba.value === 1"
                    [isModalOpen]="isModalOpen"
                    (abrirDialog)="editarNota()"/>
            </mat-tab>
        </mat-tab-group>
    </app-container>
</section>