<ng-template #loadingSpinnerContainer></ng-template>
<section class="busca-docmentos">
    <app-container>
        <app-cabecalho-empenho
            (cancelar)="cancelar()"
            (acao)="salvar()"
            (adicionar)="adicionar()"
            (inativar)="inativar()"
            (excluir)="excluir()"
            (editar)="editar()"
            [status]="status.value">
            
            <app-formulario-empenho/>
        </app-cabecalho-empenho>

        <mat-tab-group class="tab-group">
            <mat-tab label="Itens">
                
                <app-empenho-tabela-itens [listaItens]="listaItens.value"/>

            </mat-tab>
            
            <mat-tab label="Notas">
                <app-empenho-tabela-notas/>
            </mat-tab>
        </mat-tab-group>
    </app-container>
</section>